body {
  text-align: center;
  /*background-image: url('https://s-media-cache-ak0.pinimg.com/736x/e5/f5/a6/e5f5a6d0f9cb62f21d409cae0fe00610.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;*/

}

/*.top {
  display: inline-block;
  width: 200px;
  border: 2px solid white;
  background: black;
}
*/
/*h1 {
  font-family: 'Bangers', cursive;
  color: white;
}*/

.cell {
  border: 2px solid black;
  height: 70px;
  width: 70px;
  margin: 30px 10px 0 10px;
  display: inline-block;
  background-color: white;
  vertical-align: top;
}

section {
  margin: 0 auto;
  border: 2px solid white;
  max-width: 400px;
  height: 550px;
  background: black;
  opacity: 0.8;
  position: relative;
  bottom: 25px;
}


#clock {
  width: 400px;
  height: 400px;
  border: 5px solid;
}
