body {
  text-align: center;

}

h1 {
  border: 2px dashed;
  border-radius: 15%;
  width: 175px;
  text-align: center;
  display: inline-block;
}

.board {
  height: 550px;
  width: 550px;
  border: 2px dashed black;
  margin: 0 auto;
  border-radius: 10%;
  background-image: url('');
  padding: 3px;
}

.cell {
  border: 2px dashed black;
  height: 80px;
  width: 80px;
  margin: 12px;
  display: inline-block;
}

/*.row1 > *{
  height: 80px;
  width: 80px;
  border: 2px dashed black;
  display: inline-block;
  border-radius: 10%;
}

.row2 > *{
  height: 80px;
  width: 80px;
  border: 2px dashed black;
  display: inline-block;
  border-radius: 10%;
}

.row3 > *{
  height: 80px;
  width: 80px;
  border: 2px dashed black;
  display: inline-block;
  border-radius: 10%;
}

.row4 > *{
  height: 80px;
  width: 80px;
  border: 2px dashed black;
  display: inline-block;
  border-radius: 10%;
}

.row5 > *{
  height: 80px;
  width: 80px;
  border: 2px dashed black;
  display: inline-block;
  border-radius: 10%;
}

section {
  padding: 20px;
}*/
