body {
  text-align: center;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/e5/f5/a6/e5f5a6d0f9cb62f21d409cae0fe00610.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

/*.top {
  display: inline-block;
  width: 200px;
  border: 2px solid white;
  background: black;
}
*/
h1 {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 80px;
  margin: 0 auto;
  /*border: 2px solid white;*/
  background-color: black;
  opacity: 0.8;
}

.cell {
  border: 2px solid black;
  height: 70px;
  width: 70px;
  margin: 30px 10px 0 10px;
  display: inline-block;
  background-color: white;
  vertical-align: top;
}

.wholething {
  border: 2px solid white;
  height: 600px;
  max-width: 800px;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  margin: 0 auto;
}

.section1 {
  margin: 0 auto;
  border: 2px solid white;
  max-width: 430px;
  height: 550px;
  background: black;
  opacity: 0.8;
  position: relative;
  top: 25px;
}

.section2 {
  border: 2px solid white;
  width: 300px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  background-color: black;
  opacity: 0.8;
  display: flex;
}
#clock1 {
  width: 100px;
  height: 56px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  padding-top: 24px;
  padding-right: 3px;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

#result1 {
  width: 300px;
  height: 62px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  font-family: 'Bangers', cursive;
  padding-top: 17px;
  font-size: 25px;
  padding-right: 2px;
}

.section3{
  border: 2px solid white;
  width: 300px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  background-color: black;
  opacity: 0.8;
  display: flex;
  top: 50px;
}

#clock2 {
  width: 100px;
  height: 56px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  padding-top: 24px;
  padding-right:3px;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

#result2 {
  width: 300px;
  height: 62px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  font-family: 'Bangers', cursive;
  padding-top: 17px;
  font-size: 25px;
  padding-right: 2px;
}

.winner {
  width: 300px;
  height: 94px;
  /*border: 2px solid black;*/
  position: relative;
  top: 88px;
  background-color: white;
  opacity: 0.8;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 28px;
  font-size: 43px;
}

/*.button1 {
  position: relative;
  right: 75px;
  top: 110px;
}*/

/*.button2 {
  position: relative;
  right: 90px;
  top: 60px;
}
*/

.p1button {
  border: 2px solid black;
  height: 44px;
  width: 300px;
  display: inline-block;
  position: relative;
  top: 130px;
  background-color: white;
  font-family: 'Bangers', cursive;
  font-size: 40px;
}

.p2button {
  border: 2px solid black;
  height: 44px;
  width: 300px;
  background-color: white;
  position: relative;
  top: 150px;
  font-family: 'Bangers', cursive;
  font-size: 40px;
}

.rightside {
  padding-right: 20px;
}

footer {
  text-align: center;
}
