body {
  text-align: center;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/e5/f5/a6/e5f5a6d0f9cb62f21d409cae0fe00610.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

/*.top {
  display: inline-block;
  width: 200px;
  border: 2px solid white;
  background: black;
}
*/
h1 {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 80px;
  margin: 0 auto;
  /*border: 2px solid white;*/
  background-color: black;
  opacity: 0.8;
}

.board {
  width: 425px;
}

.cell {
  border: 2px solid black;
  height: 70px;
  width: 70px;
  margin: 30px 10px 0 10px;
  display: inline-block;
  background-color: white;
  vertical-align: top;
}

.cell:hover{
  background-color: black;
}
.wholething {
  border: 2px solid white;
  height: 600px;
  width: 800px;
  display: flex;
  /*flex-wrap: no-wrap;*/
  /*justify-content: center;*/
  margin: 0 auto;
}

.leftside {
  margin: 0 auto;
  border: 2px solid white;
  max-width: 430px;
  height: 550px;
  background: black;
  opacity: 0.8;
  position: relative;
  top: 25px;
}

.section1 {
  border: 2px solid white;
  width: 300px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  background-color: black;
  opacity: 0.8;
  display: flex;
}
#clock1 {
  width: 100px;
  height: 56px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  padding-top: 24px;
  padding-right: 3px;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

#result1 {
  width: 300px;
  height: 62px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  font-family: 'Bangers', cursive;
  padding-top: 17px;
  font-size: 25px;
  padding-right: 2px;
}

.section2{
  border: 2px solid white;
  width: 300px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  background-color: black;
  opacity: 0.8;
  display: flex;
  top: 50px;
}

#clock2 {
  width: 100px;
  height: 56px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  padding-top: 24px;
  padding-right:3px;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

#result2 {
  width: 300px;
  height: 62px;
  border: 5px solid;
  background-color: white;
  opacity: 0.9;
  font-family: 'Bangers', cursive;
  padding-top: 17px;
  font-size: 25px;
  padding-right: 2px;
}

.winner {
  width: 300px;
  height: 94px;
  /*border: 2px solid black;*/
  position: relative;
  top: 88px;
  background-color: black;
  color: white;
  opacity: 0.8;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 28px;
  font-size: 43px;
}

.p1button {
  border: 2px solid black;
  height: 44px;
  width: 300px;
  display: inline-block;
  position: relative;
  top: 110px;
  background-color: white;
  font-family: 'Bangers', cursive;
  font-size: 40px;
  opacity: 0.8;
}

.p1button:hover, .p2button:hover {
  background-color: red;
}

.p2button {
  border: 2px solid black;
  height: 44px;
  width: 300px;
  background-color: white;
  position: relative;
  top: 130px;
  font-family: 'Bangers', cursive;
  font-size: 40px;
  opacity: 0.8;
}

.rightside {
  padding-right: 20px;
}

.playagain {
  height: 20px;
  width: 90px;
  border: 2px solid black;
  border-radius: 20%;
  position: relative;
  top: 140px;
  left: 100px;
  padding: 10px;
  font-family: 'Bangers', cursive;
  font-size: 20px;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.hurry {
  height: 28px;
  width: 121px;
  border: 2px solid black;
  background-color: white;
  /*border-radius: 30%;*/
  position: relative;
  font-family: 'Bangers', cursive;
  padding: 4px;
  bottom: 300px;
  left: 300px;
  font-size: 30px;
}

.doneyet {
  height: 50px;
  width: 135px;
  border: 2px solid black;
  background-color: white;
  /*border-radius: 30%;*/
  position: relative;
  font-family: 'Bangers', cursive;
  padding: 4px;
  bottom: 300px;
  left: 400px;
  font-size: 25px;
}

.anydaynow {
  height: 56px;
  width: 90px;
  border: 2px solid black;
  background-color: white;
  /*border-radius: 30%;*/
  position: relative;
  font-family: 'Bangers', cursive;
  padding: 4px;
  bottom: 400px;
  left: 400px;
  font-size: 30px;
}

.practice {
  height: 66px;
  width: 122px;
  border: 2px solid black;
  background-color: white;
  /*border-radius: 30%;*/
  position: relative;
  font-family: 'Bangers', cursive;
  padding: 4px;
  bottom: 510px;
  left: 300px;
  font-size: 30px;
}
